#BiblioRaul {
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
}

#Raul {
    font-weight: 900;
}

.calendar-header {
    width: 102.5%;
    margin-left: -1.22rem;
    margin-top: -1.25rem;
}

// .table-bordered-grey {
//     border: #dadce0 1px solid;
// }

::selection {
    color: white;
    background: $primary;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#inner-message {
    margin: 0 auto;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid;
    border-top: 0px solid;
}

div.dt-buttons.btn-group.flex-wrap {
    box-shadow: 0.115rem 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
}

.transparency {
    background-color: rgba(9, 140, 210, 0.11);
    color: $primary;
}

.zebra tr:nth-child(even) {
    background-color: rgba(9, 140, 210, 0.035);
}

.table-clear td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #e3e6f0;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #6e707e !important;
}

.red {
    color: $red;
}

.form-control {
    width: 95%;
    color: #5b5b5b;
    border: 1px solid #d1d3e288;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f0f2f8bf;
}

.modal-title {
    color: #5b5b5b;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
    padding: 2rem 3.4rem 0.5rem;
}

.modal-footer {
    border-top: none;
    padding: 1rem 3.3rem;
}

.modal-body {
    padding: 0.7rem 1rem;
}

.modal-content {
    box-shadow: 0.35rem 0.15rem 1.75rem 0.1rem rgba(58, 59, 69, 0.3) !important;
    border: none;
}

.modal-backdrop {
    background: rgba(58, 59, 69, 0.7);
}

.form-show {
    background-color: transparent !important;
    border-bottom: 1px solid #c1c2cc4d;
    color: #5b5b5b;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding: 0;
    width: 95%;
}

.form-show-observacao {
    background-color: transparent !important;
    padding: 7px 0px 0px;
    color: #5b5b5b;
    border-radius: 4px;
    width: 95%;
}

.datepicker {
    top: 150px !important;
}

#month {
    font-size: 1.25rem;
    background-color: transparent;
    height: 1.6rem;
    cursor: pointer;
    border: none;
    margin-left: 0.5rem;
    padding: 0;
}

.form-date {
    margin-bottom: -1rem;
    margin-top: -0.6rem;
    margin-left: 0.3rem;
}

.date-range-filter {
    padding: 0 !important;
    background: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 1.4rem;
}

.date-range-filter::placeholder {
    color: $primary !important;
}

.input-icons i {
    position: absolute;
    margin-left: -0.6rem;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.year_month {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.eraser {
    background: transparent;
    border: none;
    color: $primary;
}

#chevron-icon {
    font-size: 16px;
    cursor: pointer;
    margin-top: 0.9rem;
    margin-left: 0rem;
    color: #525252;
}

body::-webkit-scrollbar {
    display: none;
}

.tooltip {
    pointer-events: none;
}

#delete_atividade {
    &:hover {
        background-color: #d50f0f;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        fill: #fff;
        margin-right: 0.25em;
        margin-top: -0.15em;
    }
}

#edit_atividade {
    &:hover {
        background-color: #efb92f;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        fill: #fff;
        margin-right: 0.25em;
        margin-top: -0.15em;
    }
}

#show_observacao {
    background-color: transparent;
}

.btn.dropdown-toggle.btn-light {
    border: 1px solid #d1d3e288;
}

.btn-light:hover {
    background-color: transparent;
}