// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";
// $fa-font-path: "../webfonts";

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

// Open Iconic
@import "~open-iconic/font/css/open-iconic-bootstrap.min.css";

// Main Style
@import "public/scss/sb-admin-2.scss";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-primary hr {
    border-top-color: #9fcdff;
}

.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #ffffff;
    background-color: #f6c23e;
    // border-color: #f6c23e;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #ffffff;
    background-color: #e3342f;
    // border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

#BiblioRaul {
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
}

#Raul {
    font-weight: 900;
    // color: #098dd2;
}

.sidebar-item-label {
    padding: 0;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#inner-message {
    margin: 0 auto;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid;
    border-top: 0px solid;
}

// Search bar
div.dataTables_wrapper div.dataTables_filter {
    margin-top: -1.9rem;
}

input.form-control.form-control-sm {
    background-color: #f2f4fa;
    border-radius: 0.35rem;
    border: 0;
}

input.form-control.form-control-sm:focus {
    box-shadow: 0 0 0 0.0525rem rgba(78, 115, 223, 0.25);
}

.dataTables_filter input {
    width: 75% !important;
    margin-right: 4rem;
}

// End of Search Bar

div.dt-buttons.btn-group.flex-wrap {
    box-shadow: 0.115rem 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
}

.transparency {
    background-color: rgba(9, 140, 210, 0.110);
    color: $primary;
}

.zebra tr:nth-child(even) {
    background-color: rgba(9, 140, 210, 0.035);
}

.table-clear td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #e3e6f0;
}

@media only screen and (max-width:1009px) {
    .dataTables_filter input {
        width: 67% !important;
        margin-right: 0rem;
        margin-top: 3rem;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important;
    }
}

@media only screen and (max-width:470px) {}
