#BiblioRaul {
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
}

#Raul {
    font-weight: 900;
}

::selection {
    color: white;
    background: $primary;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#inner-message {
    margin: 0 auto;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid;
    border-top: 0px solid;
}

div.dt-buttons.btn-group.flex-wrap {
    box-shadow: 0.115rem 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
}

.transparency {
    background-color: rgba(9, 140, 210, 0.110);
    color: $primary;
}

.zebra tr:nth-child(even) {
    background-color: rgba(9, 140, 210, 0.035);
}

.table-clear td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #e3e6f0;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: #6e707e !important;
    border: 1px solid #d1d3e2;
    background-color: #fff;
}

.bootstrap-select>.dropdown-toggle {
    color: #6e707e !important;
    border: 1px solid #d1d3e2;
    background-color: #fff;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #6e707e !important;
}

.red {
    color: $red;
}

.selectpicker-show {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.bootstrap-select.disabled,
.bootstrap-select>.disabled {
    cursor: default !important;
    outline: none !important;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.form-control {
    width: 95%;
    color: #5b5b5b;
    border: 1px solid #d1d3e288;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f0f2f8bf;
}

.bootstrap-select>.dropdown-toggle {
    width: 95%;
    border: 1px solid #d1d3e261;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border: 1px solid #d1d3e261;
}

.modal-title {
    color: #5b5b5b;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
    padding: 2rem 3.4rem 0.5rem;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    padding: 0.7rem 1rem;
}

.modal-content {
    box-shadow: 0.35rem 0.15rem 1.75rem 0.1rem rgba(58, 59, 69, 0.30) !important;
    border: none;
}

.modal-backdrop {
    background: rgba(58, 59, 69, 0.70);
}

.form-show {
    background-color: transparent !important;
    border-bottom: 1px solid #c1c2cc4d;
    color: #5b5b5b;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding: 0;
    width: 95%;
}

#show_observacao {
    background-color: transparent !important;
    border-bottom: 1px solid #c1c2cc4d;
    color: #5b5b5b;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    text-indent: 1px;
    padding: 0.5rem 0;
    width: 95%;
}
